---
title: Categories
---

<h1>{{title}}</h1>

<h2>Tables | <a href="index.html">back</a></h2>
<div class="row">
  <div class="col-4">
    <div class="block block--med">
      <img src="" alt="">
    </div>
    <!-- /.block -->
  </div>
  <!-- /.col-4 -->
  <div class="col-4">
    <div class="block block--med">
      <img src="" alt="">
    </div>
    <!-- /.block -->
  </div>
  <!-- /.col-4 -->
  <div class="col-4">
    <div class="block block--med">
      <p>$450</p>
    </div>
    <!-- /.block -->
  </div>
  <!-- /.col-4 -->
</div>
<div class="row">
  <div class="col-4">
    <div class="block block--med"><img src="" alt=""></div>
    </div>
      <!-- /.col-4 -->
  <!-- /.block -->
</div>
<!-- /.row -->