---
title: Home
---

<nav>
  <ul class="nav nav--banner nav--fit">
    <li><a href="products.html">Products</a></li>
    <li><a href="about.html">What we Make</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</nav>

<section>
  <h1 class="text-centred">Natural at Home</h1>
  <h2 class="h4 text-centred">Some tagline goes here</h2>
</section>

<section class="row">

  <div class="col-3">
    <div class="block block--med">image</div>
    <p class="h5 text-centred">Tables</p>
  </div>

  <div class="col-3">
    <div class="block block--med">image</div>
    <p class="h5 text-centred">Buffets</p>
  </div>

  <div class="col-3">
    <div class="block block--med">image</div>
    <p class="h5 text-centred">Chairs</p>
  </div>

  <div class="col-3">
    <a href="odds.html">
      <div class="block block--med">image</div>
      <p class="h5 text-centred">Odds</p>
    </a>
  </div>

</section>

<h5 class="text-centred"><a href="products.html">View all products »</a></h5>

